body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-bottom: 40vh;
  max-width: 550px;
}

h1 {
  font-size: 70px;
  line-height: 0px;
  white-space: nowrap;
}

h3 {
  font-size: 45px;
  line-height: 0px;
}

p {
  font-size: 24px;
}

a {
  color: black;
}

iframe {
  margin: 20px 1px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0,0,0,.2);
}

.avatar {
  border-radius: 9999px;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  margin-bottom: 20px;
  height: calc(25vh - 15px);
  min-height: 100px;
}

.hero {
  margin-top: 30vh;
  margin-bottom: 150px;
}

.block {
  margin-bottom: 100px;
}

@media screen and (max-width: 620px) {
  body {
    margin: 0 35px;
    margin-bottom: 40vh;
  }
  h1 {
    font-size: 55px;
  }
  iframe {
    height: 190px;
  }
}
